{% extends 'base.html' %}
{% load custom_tags %}
{% load custom_filters %}


{% load static %}

{% block title %}Application - COET{% endblock %}

{% block content %}

  

    <!-- Main Section -->
    <main class="flex-1 p-6">
        <div class="border rounded-lg shadow-sm">
          <div class="border-b p-4">
            <h2 class="text-2xl font-bold text-[#006400]">Change Password</h2>
          </div>
          <div class="p-6">
                <div class='mt-1 border-[1px] border-[#6A32A1] px-[30px] py-[10px]'>
                    <div class='text-black text-[12px] font-bold'><span class="text-red-700">Note:</span> Are you a new Student/User? Use Surname as your Current Password</div>

                    <div class='mt-[20px] flex flex-col gap-5 items-center'>
                        {% if success %}
                            <p style="color: green;">{{ success }}</p>
                        {% endif %}
                        <form class="flex flex-col gap-5" method="POST" action="/accounts/changepassword/">
                            {% csrf_token %}
                            
                            <div class="flex flex-col w-[360px] gap-2">
                                <label class="text-[15px] font-bold" for="password">Old Password:</label>
                                <input class="bg-[#F7F7F7] border-[1px] border-solid border-[#6A32A1] rounded-md p-1 outline-none" type="password" name="oldpassword" required>
                            </div>

                            <div class="flex flex-col w-[360px] gap-2">
                                <label class="text-[15px] font-bold" for="password">New Password:</label>
                                <input class="bg-[#F7F7F7] border-[1px] border-solid border-[#6A32A1] rounded-md p-1 outline-none" type="password" name="newpassword" required>
                            </div>

                            <div class="flex flex-col w-[360px] gap-2">
                                <label class="text-[15px] font-bold" for="password">Confirm New Password:</label>
                                <input class="bg-[#F7F7F7] border-[1px] border-solid border-[#6A32A1] rounded-md p-1 outline-none" type="password" name="confirmnewpassword" required>
                            </div>


                            <button class="bg-[#6A32A1] p-1 text-white w-[360px] rounded-lg text-[18px] font-bold hover:border-[1px] hover:border-solid hover:border-[#6A32A1] hover:bg-[#ffffff] hover:text-[#6A32A1]" 
                            type="submit">Change Password</button>
                            
                            {% if error %}
                                <p style="color: red;">{{ error }}</p>
                            {% endif %}
                        </form>
                    </div>
                </div>
          </div>
        </div>
      </main>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}