{% extends 'base.html' %}
{% load custom_tags %}
{% load custom_filters %}


{% load static %}

{% block title %}Application - ANCA{% endblock %}

{% block content %}

  

    <!-- Main Section -->
    <main class="flex-1 p-6">
        <div class="space-y-6">
          <div class="bg-[#663399] text-white p-6 rounded-lg">
            <h1 class="text-2xl font-semibold">Welcome Abe Otelo</h1>
            <p class="text-sm">Tue Dec 31 2024</p>
          </div>
  
          <!-- Card -->
          <div class="border rounded-lg p-4 shadow-md">
            <div class="mb-4">
              <h2 class="text-2xl font-bold">View Result</h2>
            </div>
            {% for message in messages %}
                <h5 style="color: red">{{message}}</h5>
            {% endfor %}
            <div class="space-y-4">
            <form action="/result/filter/" method="post">
                {% csrf_token %}
              <!-- Academic Session -->
              <div>
                <label class="text-sm font-medium">Academic Session</label>
                <select id="session-select" name="session-select" class="block w-full mt-2 rounded border-gray-300 p-2">
                  <option value="">Select Academic Session</option>
                  {% for sess in sessions %}
                  <option value="{{sess.year}}">{{sess.year}} Academic Session</option>
                  {% endfor %}
                </select>
              </div>
  
              <!-- Semester -->
              <div>
                <label class="text-sm font-medium">Semester</label>
                <select id="semester-select" name="semester-select" class="block w-full mt-2 rounded border-gray-300 p-2">
                  <option value="">Select Semester</option>
                  <option value="first">Harmattan Semester</option>
                  <option value="second">Rain Semester</option>
                </select>
              </div>
  
              <!-- View Result Button -->
              <button id="view-result-btn"
                class="w-full bg-[#663399] text-white p-2 rounded hover:bg-purple-700 disabled:opacity-50">
                View Result
              </button>
            </form>
            </div>
          </div>
        </div>
      </main>
    {% endblock %}

    {% block extra_scripts %}
        <script type="text/javascript" src="{% static 'js/resultfilter.js' %}"></script>
    {% endblock %}